attrs
dnspython
pytelegrambotapi
pytest
flask
flask-wtf
pymongo
pymorphy2
pymorphy2-dicts
sentry-sdk
pyyaml
mongomock
cloudinary
pandas
openpyxl
gunicorn
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
autolink
flask-login
textdistance
numpy
pyemd
scikit-learn
tqdm
gensim
razdel
scipy
requests
