flask
gunicorn
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
pymongo==3.4.0
autolink
flask-login

textdistance
pymorphy2
pymorphy2-dicts
numpy
pyemd
scikit-learn
tqdm
pandas
gensim
razdel
scipy
