pytelegrambotapi
pytest
flask
pymongo
pymorphy2
sentry-sdk
pyyaml
mongomock
cloudinary
pandas
openpyxl
gunicorn
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
autolink
flask-login
textdistance
pymorphy2
pymorphy2-dicts
numpy
pyemd
scikit-learn
tqdm
gensim
razdel
scipy
requests
