{% extends 'basic_template.html' %}

{% block title %}
  <title> Peoplebook Space: сайт и бот для управления вашим сообществом  </title>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title"> Peoplebook Space: сайт и бот для управления вашим сообществом </h1>

    </div>

    <br>

    <div class="container">
        <u>Пиплбук</u> - это сайт с базой данных о членах вашего сообщества.
        Он помогает участникам находить интересные контакты, даёт информацию для начала беседы,
        и в целом позволяет увеличить эффект от нетворкинга.
        <br>
        <u>Пиплбот</u> - это бот в Telegram, управляющий вашим сообществом. Он умеет много чего:
        <div class="content">
        <ul>
            <li>Еженедельно соединяет участников в случайные пары для random coffee.</li>
            <li>Помогает организовывать встречи: рассылает приглашения, напоминает о деталях и изменениях, просит оплатить участие.</li>
            <li>Встречает участников в чате, просит представиться, и сохраняет представление в пиплбук.</li>
            <li>Управляет списком участников сообщества с присвоением разных статусов: гость, член, привилегированный член, админ.</li>
            <li>Отвечает на популярные вопросы участников (уже скоро!)</li>
            <li>Анализирует активность в чатах сообщества (уже скоро!)</li>
        </ul>
        </div>
        Все эти фичи включаются через админку бота по вашему желанию.
    </div>

    <br>

    <div class="container">
        С нами уже работают крупные сообщества:
        <br>
        <table class="table is-borderless">
            <thead>
                <tr>
                    <th scope="col"><a href="https://vk.com/kappa_vedi">Каппа Веди</a></th>
                    <th scope="col"><a href="https://phoenix.education/">Phoenix Education</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/static/images/phoenix_logo_curved0.jpg" width="100px"></td>
                    <td><img src="/static/images/kv.jpg" width="100px"></td>
                </tr>
                <tr>
                    <td>Закрытый клуб перспективной молодёжи. Более 150 участников, десятки встреч ежегодно.</td>
                    <td>Сообщество выпускников кейс-школы. Более 300 участников.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="container">
        По всем вопросам пишите <a href="https://t.me/cointegrated">@cointegrated</a> в Telegram.
    </div>

</section>

<section class="section">

    <div class="container">
        Если вы попали сюда при попытке войти в пиплбук,
        напишите боту вашего сообщества - он должен дать вам ссылку для авторизации.
    </div>

</section>

{% endblock %}