{% extends 'basic_template.html' %}
{% from 'macros.html' import peoplebook_profile, get_photo_url, basic_nav %}
{% set new_profiles = profiles | preprocess_profiles %}


{% block title %}
  <title> {{ title }} </title>
{% endblock %}

{% block navbar %}
  {{ basic_nav(space_cfg, user) }}
{% endblock %}

{% block content %}

<div id="root">
  <div class="title">{{ title }}</div>
  <div class="toc">
    {% for profile in new_profiles %}
      <a href="#{{ profile.username }}" class="toc__person">
          <div style="width:80px; height:80px">
            <img src="{{ get_photo_url(profile) }}" class="photo photo--small" />
          </div>
        <div class="name name--brief">{{ profile.first_name or profile.username }}</div>
      </a>
    {% endfor %}
  </div>
  <div class="people">
    {% for profile in new_profiles %}
      {{ peoplebook_profile(profile, show_contacts=(space_cfg.key != "kv")) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
