{% macro itinder_head() %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>АйТиндер</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <style>
        .photo--small {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 2px solid #fff;
        box-shadow: 0 0 0 2px #00f;
        cursor: pointer;
        object-fit: cover;}

        .photo--small:hover {
            box-shadow: 0 0 0 2px #000;}
        </style>
    </head>
{% endmacro %}

{% macro itinder_nav(space) %}
    <nav class="bd-navbar navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/{{space}}/itinder">
          <p>АйТиндер</p>
        </a>
        <a class="navbar-item" href="/{{space}}/all">
          <p>Пиплбук</p>
        </a>
      </div>
    </nav>
{% endmacro %}

{% macro itinder_subhead() %}
    <div class="container">
        <h1 class="title" style="background-color:white; color:black; margin-left:0px">Умный поиск по сообществу</h1>
        <p class="subtitle" style="margin-left:10px">Тут собралось много интересных людей. Пора знакомиться!</p>
    </div>
{% endmacro %}

{% macro itinder_title() %}
    <title> АйТиндер </title>
{% endmacro %}

