{% extends 'basic_template.html' %}
{% from 'macros.html' import get_photo_url with context %}
{% from 'itinder_macros.html' import itinder_nav, itinder_head, itinder_subhead, itinder_title %}


{% block title %}
  {{ itinder_title() }}
{% endblock %}


{% block navbar %}
  {{ itinder_nav(space=space) }}
{% endblock %}


{% block content %}

<section class="section">

    {{ itinder_subhead() }}
    <br>

    <div class="container">
        <form method="POST" id="search_form" action="/{{space}}/search">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input has-text-grey" type="text" name="req_text" placeholder="Введи интересующую тебя тему">
            </div>
            <div class="control">
                <button class="button is-link" type="submit" form="search_form">
                  Найти
                </button>
            </div>
        </div>
        </form>
    </div>
    <br>
    <div class="container">

        {% if results is not none %}
            <div> Вот что нашлось по запросу "{{req_text}}"</div>
            {% for result in results %}
            <div class="card" >

                <div class="card-content">
                    <div class="media">

                        <div class="media-left">
                            <a href="/{{space}}/person/{{result.username}}">
                                <img class="photo photo--small" src="{{ get_photo_url(result.profile) }}"/>
                            </a>
                        </div>

                        <div class="content">
                            <p class="subtitle has-text-weight-bold">{{result.profile.first_name}} {{result.profile.last_name}}
                                <a class="subtitle has-text-link" href="/{{space}}/person/{{result.username}}">@{{result.username}}</a>
                            </p>
                            <p>{{ result.text }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endif %}
    </div>

</section>

{% endblock %}