<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Войти</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<section class="section is-fullheight">
    <div class="container">
        <p class="subtitle">
          Для входа надо пройти по ссылке "Авторизоваться" из раздела "Мой Профиль" в Боте
        </p>
          <br>
          <br>
        <p class="subtitle">
          <a href="/about">Информация про PeopleBook.space</a>
        </p>
      </div>
</section>
