{% macro get_photo_url(profile) -%}
    {% if profile.photo == undefined %}
        {# todo: instead of these simple rules, use some model to predict gender #}
        {% if profile.last_name == undefined%}
            https://i.ibb.co/FWvgTMK/SS-Ideas-Icon.png
        {% elif profile.last_name.endswith('ов') or profile.last_name.endswith('ев') %}
            https://i.ibb.co/5Kt9cZJ/bb87c06b8cb8fad5ffe9abab11679fae.jpg
        {% elif profile.last_name.endswith('ова') or profile.last_name.endswith('ева')%}
            https://i.ibb.co/8zLjcGL/teacher.png
        {% else %}
            https://i.ibb.co/FWvgTMK/SS-Ideas-Icon.png
        {% endif %}
    {% else %}
        {{ profile.photo }}
    {% endif %}
{%- endmacro %}

{% macro get_person_title(profile) -%}
    {% if profile.first_name == undefined %}
        {% if profile.last_name == undefined %}
            @{{ profile.username }}
        {% else %}
            {{ profile.last_name }}
        {% endif %}
    {% else %}
        {% if profile.last_name == undefined %}
            {{ profile.first_name }}
        {% else %}
            {{ profile.first_name }} {{ profile.last_name }}
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro peoplebook_profile(profile, show_contacts=False) %}
    {% set photo_url = get_photo_url(profile) %}
    <div class="card">
        <div class="person" id="{{ profile.username }}">

            <div class="card-image">
                <img class="photo photo--large" src="{{ photo_url }}"/>
            </div>

            <div class="container" style="margin: 0 0 1em; padding: 0 5px" >

                <div class="media-content">
                    <p class="title is-4">{{ get_person_title(profile) }}</p>
                    <p class="subtitle is-6">
                        <a href="https://t.me/{{ profile.username }}">@{{ profile.username }}</a>
                    </p>
                </div>

                <div class="label">Чем занимаюсь</div>
                <div class="answer"> {{ profile.activity  | linkify_filter | safe }} </div> {# todo: split into chunks #}
                <div class="label">О чем могу рассказать</div>
                <div class="answer">{{ profile.topics  | linkify_filter | safe }}</div>
                {% if show_contacts %}
                    <div class="label">Контакты</div>
                    <div class="answer">{{ profile.contacts  | linkify_filter | safe }}</div>
                {% endif %}
            </div>

        </div>
    </div>
{% endmacro %}

{% macro basic_nav(space_cfg, user=None) %}
    <nav class="bd-navbar navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {% if space_cfg.key == 'kv' %}
                <a class="navbar-item" href="/members">
                  <p>Члены клуба</p>
                </a>
                <a class="navbar-item" href="/all">
                  <p>Сообщество Каппа Веди</p>
                </a>
                <a class="navbar-item" href="/">
                  <p>Пиплбук встречи</p>
                </a>
            {% else%}
                <a class="navbar-item" href="/{{ space_cfg.key }}/all">
                  <p>Сообщество {{ space_cfg.title }}</p>
                </a>
            {% endif %}
            <a class="navbar-item" href="/{{ space_cfg.key }}/search">
              <p>Поиск</p>
            </a>
       </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                {% if user and user.is_authenticated %}
                    <a class="navbar-item is-right" href="/{{ space_cfg.key }}/me" >
                      <p>Мой профиль</p>
                    </a>
                    <a class="navbar-item is-right" href="{{ url_for('logout') }}" >
                      <p>Выйти</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

{% endmacro %}


{% macro basic_subhead() %}
    <div class="container">
        <h1 class="title" style="background-color:white; color:black; margin-left:0px"> Члены сообщества </h1>
        <p class="subtitle" style="margin-left:10px">Найди человека из интересующей области</p>
    </div>
{% endmacro %}
