{% extends 'basic_template.html' %}
{% from 'macros.html' import get_photo_url %}
{% from 'itinder_macros.html' import itinder_nav, itinder_head, itinder_subhead, itinder_title %}


{% block title %}
  {{ itinder_title() }}
{% endblock %}


{% block navbar %}
  {{ itinder_nav(space=space) }}
{% endblock %}


{% block content %}

<section class="section">

    {{ itinder_subhead() }}

<div class="similarity-root">

<p>Вот на кого вы больше всего похожи,
    <a class="subtitle has-text-link" href="/{{space}}/person/{{profile.username}}">@{{profile.username}}</a>:
</p>

{% for result in results %}
    <div class="card" >
        <div class="card-content">
            <div class="media">

                <div class="media-left">
                    <a href="/{{space}}/person/{{result.other_profile.username}}">
                        <img class="photo photo--small" src="{{ get_photo_url(result.other_profile) }}"/>
                    </a>
                </div>
            </div>

            <div class="content">
                <p class="subtitle has-text-weight-bold">{{result.other_profile.first_name}} {{result.other_profile.last_name}}
                    <a class="subtitle has-text-link" href="/{{space}}/person/{{result.other_profile.username}}">@{{result.other_profile.username}}</a>
                     - <b>{{ result.score | round(2) }}</b>
                </p>
                {% for match in result.res %}
                    <p>Сходство: {{ match.score }}.<br />
                        <span style="margin-left:30px">{{profile.first_name}} - {{ match.first }}</span><br />
                        <span style="margin-left:30px">{{result.other_profile.first_name}} - {{ match.second }}</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
{% endfor %}

</div>
</section>

{% endblock %}
