{% extends 'basic_template.html' %}
{% from 'macros.html' import basic_nav %}

{% block title %}
  <title>Пиплбук встречи Каппа Веди {{ period_text }}</title>
{% endblock %}

{% block navbar %}
  {{ basic_nav(space_cfg, user) }}
{% endblock %}

{% block content %}
<div id="root"></div>
<script type="text/babel">
  // Obtain the root
  const rootElement = document.getElementById('root');

  // Create a function to wrap up your component
  function App(){
    return(
    <div>
      <PeopleBookApp2 name="Пиплбук встречи {{ period_text }}" people={people}/>
    </div>
    )
  }
  // Use the ReactDOM.render to show your component on the browser
  ReactDOM.render(
    <App />,
    rootElement
  )
</script>
<div id="footer">
    Если вы изменили свою анкету, но она не обновляется больше минуты, сбросьте кэш браузера.
    Windows: ctrl + F5. Mac/Apple: Apple + R or command + R. Linux: F5
</div>
{% endblock %}