{% extends 'basic_template.html' %}

{% block title %}
  <title> Peoplebook Space: прощаемся </title>
{% endblock %}

{% block content %}
<div id="root">
  <div class="box">
    <h1 class="title"> Peoplebook Space: прощаемся </h1>
    <h1 class="subtitle">Объявление: мы работаем до конца 2025 года.</h1>
    <p>Бот и пиплбук будут работать до конца декабря 2025, а потом будут перманентно отключены.</p>
    <p>Исходный код всего проекта выложен на <a href="https://github.com/avidale/peoplebook">https://github.com/avidale/peoplebook</a>,
      так что если вам очень хочется, вы можете попробовать развернуть его снова, где-то на новом месте.</p>
    <p>С вами было приятно иметь дело!</p>
    <i>

      С уважением, <a href="https://t.me/cointegrated">@cointegrated</a>
    </i>
  </div>
</div>
{% endblock %}
