<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} {% endblock %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/static/App.css">
  <link rel="stylesheet" href="/static/index.css">
  <script type="text/javascript" src="/static/{{ period }}.js" charset="UTF-8"></script>
  <script type="text/javascript" src="/static/my_linkify.js" charset="UTF-8"></script>
  <!-- Import the React, React-Dom and Babel libraries from unpkg -->
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <!-- this script contains the main logic -->
  <script type="text/babel" src="/static/app.js"></script>
</head>

<!--@TODO сделать navbar обязательным элементом -->
{% block navbar %}
{% endblock %}

<body>
{% block content %}
{% endblock %}
</body>

<!--@TODO перенести в navbar -->
<footer>
    <a href="{{ url_for('logout') }}" class="body"><center>Выйти</center></a>
</footer>
