<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="graph_data.json" charset="UTF-8"></script>
    <script type="text/javascript" src="common.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="style.css">
    <title>Граф сходства Каппа Веди</title>
</head>
<body>
<table><tr><td>
<div>Все аватарки можно перетаскивать.</div>
<div>Двойной клик - подробности.</div>
</td><td><div><a href="quiz.html">Игра про членов клуба</a></div></td></tr></table>
<canvas id="myCanvas" width="1800" height="900" style="border:1px solid #d3d3d3">


<script>
var dragObj;
var elem_id_to_members = {}
var idx_to_members = []
var c = document.getElementById("myCanvas");
T = c.getBoundingClientRect().top;
L = c.getBoundingClientRect().left;
W = c.scrollWidth;
H = c.scrollHeight;
function get_card_name(member) {
    return('card ' + member['name']);
}
function get_card_rect(member_id){
    return(graph_data["members"][member_id]['card'].getBoundingClientRect());
}
function connect_cards(ctx, rect1, rect2, color) {
    ctx.beginPath();
    ctx.strokeStyle = color;
    ctx.moveTo((rect1.left + rect1.right) / 2 - L, (rect1.top + rect1.bottom) / 2 - T);
    ctx.lineTo((rect2.left + rect2.right) / 2 - L, (rect2.top + rect2.bottom) / 2 - T);
    ctx.stroke();
}
function draw_lines() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.clearRect(0,0,W,H);
    for (i=0; i<graph_data["members"].length; i++) {
        var member1 = graph_data["members"][i];
        var rect1 = member1['card'].getBoundingClientRect();
        for (j=0; j<member1['friends'].length; j++) {
            var member2 = elem_id_to_members['card ' + member1['friends'][j]]
            var rect2 = member2['card'].getBoundingClientRect();
            if (member1['card'] === dragObj || member2['card'] === dragObj) {
                color = '#FF3000' //"#AA50FF"
            } else {
                if (member1['in_club'] && member2['in_club']) {
                    color = '#FFCC00' //'#52101e'
                } else {
                    color =  '#CCCCCC' //'#808080'
                }
                //color = "#AADDFF"
            }
            connect_cards(ctx, rect1, rect2, color);
        }
    }
}
DECAY = 0.99
APART = 0.03
TOGETHER = 0.000005
function moveit() {
    for (i=0; i<graph_data["members"].length; i++) {
        var member1 = graph_data["members"][i];
        member1['vx'] = member1['vx'] * DECAY;
        member1['vy'] = member1['vy'] * DECAY;
        if (Math.random() < 0.001) {
            member1['vx'] = member1['vx'] + (Math.random() - 0.5) * 3;
            member1['vy'] = member1['vy'] + (Math.random() - 0.5) * 3;
        }
    }
    for (i=0; i<graph_data["members"].length; i++) {
        var member1 = graph_data["members"][i];
        var rect1 = member1['card'].getBoundingClientRect();
        var card1 = member1['card'];
        for (j=i+1; j<graph_data["members"].length; j++) {
            var member2 = graph_data["members"][j];
            var rect2 = member2['card'].getBoundingClientRect();
            var card2 = member2['card'];
            dist = Math.pow(Math.pow(rect1.top-rect2.top, 2) + Math.pow(rect1.left-rect2.left, 2), 0.5)
            atan = Math.atan2(rect1.left-rect2.left, rect1.top-rect2.top);
            if (dist < 300) {
                force = Math.max(0, Math.min(150 - dist, 100)) / 100.0 * APART;
                member1['vx'] = member1['vx'] + Math.sin(atan) * force;
                member1['vy'] = member1['vy'] + Math.cos(atan) * force;
                member2['vx'] = member2['vx'] - Math.sin(atan) * force;
                member2['vy'] = member2['vy'] - Math.cos(atan) * force;
            }
            if (dist > 50) {
                if (member1['friends'].includes(member2['name'])) {
                    var mdist = Math.min(dist, 500) * TOGETHER ;
                    member1['vx'] = member1['vx'] - Math.sin(atan) * mdist * (member2['card'] === dragObj ? 10 : 1);
                    member1['vy'] = member1['vy'] - Math.cos(atan) * mdist * (member2['card'] === dragObj ? 10 : 1);
                    member2['vx'] = member2['vx'] + Math.sin(atan) * mdist * (member1['card'] === dragObj ? 10 : 1);
                    member2['vy'] = member2['vy'] + Math.cos(atan) * mdist * (member1['card'] === dragObj ? 10 : 1);
                }
            }
        }
    }

    for (i=0; i<graph_data["members"].length; i++) {
        var member1 = graph_data["members"][i];
        var rect1 = member1['card'].getBoundingClientRect();
        var card1 = member1['card'];
        if (card1 !== dragObj) {
            card1.style.left = Math.max(L, Math.min(W+L-50, parseFloat(card1.style.left.slice(0, -2)) + member1['vx'])) + 'px';
            card1.style.top  = Math.max(T, Math.min(H+T-50, parseFloat(card1.style.top.slice(0, -2))  + member1['vy'])) + 'px';
        }
    }
    draw_lines();
}
function set_drag_drop(obj) {
	obj.adx = 0;
	obj.ady = 0;

	obj.onmousedown = function(e)
	{
		var rect = obj.getBoundingClientRect();
		obj.dx = rect.left - e.clientX;
		obj.dy = rect.top - e.clientY;
		obj.isDown = true;
		dragObj = this;
	}
	obj.onmouseup = function(e)
	{
		obj.isDown = false;
        dragObj = null;
	}
	document.onmousemove = function(e)
	{
		if(dragObj && dragObj.isDown)
		{
			dragObj.style.left = e.pageX -dragObj.adx+ dragObj.dx +"px";
			dragObj.style.top = e.pageY -dragObj.ady+ dragObj.dy + "px";
            draw_lines();
		}
	}
}
function show_big_card(idx) {
    member = idx_to_members[idx];
    show_big_card_for_member(member);
}
for (i=0; i<graph_data["members"].length; i++) {
    member = graph_data["members"][i]
    var elem = document.createElement('div');
    member['card'] = elem;
    elem.className = "card-back";
    elem.id = get_card_name(member);
    elem_id_to_members[elem.id] = member;
    idx_to_members.push(member)
    // elem.innerHTML = '<div><a href="javascript:show_big_card(' + i + ');">' + member['name'] + '</a></div><img src="' + member['vk_img'] + '" class="avatar">'
    elem.innerHTML = '<div class="avatar-div' + (member['in_club'] ? '-kv' : '') +'"><img ondblclick="javascript:show_big_card(' + i + ');" src="' + member['vk_img'] + '" class="avatar"></div>'
    document.body.appendChild(elem);
    set_drag_drop(elem);
    elem.style.left = member['x'] * W
    elem.style.top = member['y'] * H
    member['vx'] = 0;
    member['vy'] = 0;
}
draw_lines();
setInterval(moveit, 10);
</script>
</html>