<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Каппа Веди Айтиндер </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<nav class="bd-navbar navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="itinder">
      <p>КВ АйТиндер</p>
    </a>
    <a class="navbar-item" href="/">
      <p>Пиплбук встречи</p>
    </a>
  </div>
</nav>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a class="button is-large is-fullwidth is-light is-success" href="search">Найти собеседников</a>
            </div>
            <div class="column">
                <a class="button is-large is-fullwidth is-light is-warning" href="similarity">Найти тему для беседы</a>
            </div>
            <div class="column">
                <a class="button is-large is-fullwidth is-light is-danger" href="unsimilarity">Найти непохожих на меня людей</a>
            </div>
        </div>
    </div>
  </div>
</section>