{% extends 'basic_template.html' %}
{% from 'itinder_macros.html' import itinder_nav, itinder_head, itinder_subhead, itinder_title %}


{% block title %}
  {{ itinder_title() }}
{% endblock %}


{% block navbar %}
  {{ itinder_nav() }}
{% endblock %}


{% block content %}

<section>
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">
                <div>
                    <a class="button is-large is-info is-fullwidth" href="/search">Найти собеседников</a>
                </div>
                <br>
                <div>
                    <a class="button is-large is-info is-fullwidth" href="/similarity">Найти тему для беседы</a>
                </div>
                <br>
                <div>
                    <a class="button is-large is-info is-fullwidth" href="/most_similar">Найти похожих на меня</a>
                </div>
                <br>
                <div>
                    <a class="button is-large is-info is-fullwidth" href="/least_similar">Найти непохожих на меня</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
