{% from 'macros.html' import get_photo_url %}
{% from 'itinder_macros.html' import itinder_nav, itinder_head, itinder_subhead %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Каппа Веди Айтиндер </title>
  <link rel="stylesheet" href="/static/App.css">
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

{{ itinder_nav() }}

<body>
<section class="section">

    {{ itinder_subhead() }}

<div class="similarity-root">

<p>Вот на кого вы больше всего похожи,
    <a class="subtitle has-text-link" href="/person/{{profile.username}}">@{{profile.username}}</a>:
</p>

{% for result in results %}
    <div class="card" >
        <div class="card-content">
            <div class="media">

                <div class="media-left">
                    <a href="/person/{{result.other_profile.username}}">
                        <img class="photo photo--small" src="{{ get_photo_url(result.other_profile) }}"/>
                    </a>
                </div>
            </div>

            <div class="content">
                <p class="subtitle has-text-weight-bold">{{result.other_profile.first_name}} {{result.other_profile.last_name}}
                    <a class="subtitle has-text-link" href="/person/{{result.other_profile.username}}">@{{result.other_profile.username}}</a>
                     - <b>{{ result.score | round(2) }}</b>
                </p>
                {% for match in result.res %}
                    <p>Сходство: {{ match.score }}.</p>
                    <div style="margin-left:30px">
                            <p> {{profile.first_name}} - {{ match.first }} </p>
                            <p> {{result.other_profile.first_name}} - {{ match.second }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}


</div>
</section>

</body>
</html>