<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каппа Веди Айтиндер</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    .photo--small {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #00f;
    cursor: pointer;
    object-fit: cover;}

    .photo--small:hover {
        box-shadow: 0 0 0 2px #000;}
    </style>
</head>

<nav class="bd-navbar navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/itinder">
      <p>КВ АйТиндер</p>
    </a>
    <a class="navbar-item" href="/">
      <p>Пиплбук встречи</p>
    </a>
  </div>
</nav>

<body>
<section class="section">

    <div class="container">
        <h1 class="title">Новогодняя встреча сообщества Каппа Веди</h1>
        <p class="subtitle">Введи интересующую тебя тему</p>
    </div>


    <div class="container">
        <form method="POST" id="search_form" action="/search">
        <div class="field has-addons">
            <div class="control">
                <input class="input has-text-grey" type="text" name="req_text" placeholder="Консталтинг">
            </div>
            <div class="control">
                <button class="button is-link" type="submit" form="search_form">
                  Найти
                </button>
            </div>
        </div>
        </form>
    </div>
    <br>
    <div class="container">

        {% if results is not none %}
            <div> Вот что нашлось по запросу "{{req_text}}"</div>
            {% for result in results %}
            <div class="card" >

                <div class="card-content">
                    <div class="media">

                        <div class="media-left">
                            <a href="/person/{{result.username}}">
                                <img class="photo photo--small" src="{{ result.profile.photo }}"/>
                            </a>
                        </div>

                        <div class="content">
                            <p class="subtitle has-text-weight-bold">{{result.profile.first_name}} {{result.profile.last_name}}
                                <a class="subtitle has-text-link" href="/person/{{result.username}}">@{{result.username}}</a>
                            </p>
                            <p>{{ result.text }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endif %}
    </div>

</section>
</body>